{% extends "base.html" %}
{% block title %}Example page{% endblock %}

{% block content %}
<!--'entry_id', 'list_id','phone_id'-->
Phones:
<table id="entries" border="1" style="width:225px">
<tr>
    <td>NAME</td>
    <td>NUMBER</td>
    <td> </td>
</tr>
{% for entry in x %}
<tr>
    <td>{{entry.phone.name}}</td>
    <td>{{entry.phone.number}}</td>
    <td> <input data-id="{{entry.entry_id}}" type="button" value="Delete Row" onclick="SomeDeleteRowFunction(this);">
</td>
</tr>
{% endfor %}
</table>

<form action="" method="post" name="form">
Name: <input type="text" name="thename" value=""><br>
Number: <input type="text" name="thenumber" value=""><br>
<input type="button" value="Add" onclick="addRow();">
<br><br>
Message: <input type="text" name="themessage" value=""><br>
<input type="button" value="Send Email" onclick="sendText();"><br>
<input type="button" value="Send Twilio" onclick="sendTwilio();">
</form>

<script>
function sendTwilio(){
    message = document.form.themessage.value;    

    $.ajax({
    type: 'POST',
    url: "./" + {{listid}} + "/send_email",
    data: {"sender": "17324105138", "message": message, "method": "twilio"},
    success: function (data) { console.log(data) },
    error : function(e) { console.log(e); alert("Failure"); }

    });
}
</script>

<script>
function sendText(){
    message = document.form.themessage.value;    

    $.ajax({
    type: 'POST',
    url: "./" + {{listid}} + "/send_email",
    data: {"sender": "9086702635", "message": message, "method": "email"},
    success: function (data) { console.log(data) },
    error : function(e) { console.log(e); alert("Failure"); }

    });
}
</script>

<script>
function addRow() {
    _name = document.form.thename.value;    
    number = document.form.thenumber.value;
   

    $.ajax({
     type: 'POST',
     url: "./" + {{listid}} + "/add",
    data: {"name" : _name, "number": number},
    success: function (data) { eid = JSON.parse(data);  $("#entries tr:last").after('<tr><td>' + _name + '</td><td>' + number + '</td><td><input data-id="' + eid.entry_id + '" type="button" value="Delete Row" onclick="SomeDeleteRowFunction(this);"> </td></tr>');  },
    error : function(e) { console.log(e); alert("Invalid Name or Number"); }
 
    });
}
</script>

<script>
function SomeDeleteRowFunction(btndel) {
    
    if (typeof(btndel) == "object") {
        $.ajax({
     type: 'POST',
     url:"/entries/" + $(btndel).data("id") + "/delete",
    success: function (data) {   $(btndel).closest("tr").remove(); console.log(btndel) },
    error : function(e) { console.log(e); alert("Invalid Name or Number"); }

    });
}
    else {

        return false;
    }
}
</script>

{% endblock %}
